.poppins {
    font-family: "Poppins";
}

.bigtext {
    font-size: 50px ;
}


/* FOR WEB VIEW */
@media only screen and (min-width: 769px){
    .background-web {
        background-image: url(/assets/images/try.jpg);
        background-size: cover;
}
    .background-web1 {
        background-image: url(/assets/images/background2.png);
        background-size: cover;
}

    .below-text {
        font-size: 13px;
}

    .webmargintop{
        margin-top: 5rem;
}
    .webmarginleft{
        margin-left: 3rem;
}
    .webmarginright{
        margin-right: 3rem;
}
    .bg-green {
        background-color: seagreen;
        /* Hexadecimal color code for Bootstrap's success color */
    }
    .imgsize {
        width: 700px;
        height: 400px;
    }
    .webmarginend {
        margin-right: 5rem;
    }
    .cover {
        object-fit: cover;
}
    .web-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background: white;
    }
    .mobile-nav {
        display: none;
    }
    .mobile {
        display: none;
    }
}

/* FOR MOBILE VIEW */
@media only screen and (max-width: 768px) {
    .background-mobile1 {
        background-image: url(/assets/images/background2_mobile.png);
        background-size: cover;
    }
    .background-mobile {
        background-image: url(/assets/images/background2mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
}
    .cover {
        background-image: url(/assets/images/background2mobile.png);
        object-fit: cover;
    }

    .mobilelogo {
        max-width: 100%;
        /* Adjust maximum width */
        height: auto;
        /* Maintain aspect ratio */
        margin: 0 auto;
        /* Center horizontally */
        /* Any other adjustments you need */
    }

        .imgmobile {
        max-width: 100%;
        /* Adjust maximum width */
        height: 130px;
        width: 200px;
        /* Maintain aspect ratio */
        margin: 0 auto;
        /* Center horizontally */
        /* Any other adjustments you need */
    }
        .carouselimg{
            max-width: 100%;
            height: 270px;
            width: 500px;
        }
    .mobilepaddingtop {
        padding-top: 1.5rem !important;
                /* Adjust the padding-top value as needed */
        }

    .mobilepaddingbot {
        padding-bottom: 5rem !important;
                /* Adjust the padding-top value as needed */
        }

    .mobilemarginbot {
            margin-top: -5rem !important;
            /* Adjust the padding-top value as needed */
        }
    .mobilemarginleft {
            margin-left: 1rem;
    }
    .mobilemarginright {
            margin-right: 1rem;
    }
    .bg-trans {
            background-color: #ffffff00;
            /* Hexadecimal color code for Bootstrap's success color */
        }
    .mw-50 {
        width: 50% !important;
    }
    .web-nav {
        display: none;
    }
    .web {
        display: none;
    }

    
}




